.link {
  color: black !important;
  font-size: 13px;
}

.text {
  display: block;
  margin-top: 10px;
  width: calc(100% - 10px);
}

.title {
  margin: 0 !important;
  padding-bottom: 5px;
}

.secondary {
  margin-bottom: 5px !important;
  display: block;
}

.card {
  box-sizing: border-box !important;
}

.card div:first-child {
  box-sizing: border-box !important;
  padding: 0 !important;
  height: 100%;
  align-items: flex-start;
}

.ant-image-img {
  object-fit: cover;
  height: inherit !important;
}

.content {
  padding: 20px !important;
}

.space div:last-child {
  padding: 10px;
}

.ant-image-mask-info {
  align-items: center !important;
  display: flex !important;
}