.ant-card-body {
  box-sizing: border-box !important;
  padding: 0 5px 10px 10px !important; 
  height: 260px;
  display: grid;
  gap: 7px 13px;
  justify-content: start;
  grid-template-rows: 45px 20px 25px auto 1fr;
  font-size: 16px;
  grid-template-columns: 60px 1fr 40px;
  grid-template-areas:
    'img title popularity'
    'img date popularity'
    'img genres genres'
    'overview overview overview'
    'rating rating rating'
}

.ant-card {
  width: 100%;
  min-width: 400px;
}

.img {
  grid-area: img;
  padding-top: 10px ;
  width: 60px;
  height: 90px;
}

.title {
  grid-area: title;
  font-weight: 500;
  margin: 10px 0 0;
  font-size: 22px;
  line-height: 28px;
}

.popularity {
  grid-area: popularity;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 3px 0 0;
  width: 35px;
  height: 35px;
  border: 2px solid;
  border-radius: 50%;
}

.date {
  grid-area: date;
  line-height: 22px;
  margin: 0;
}

.genres {
  display: flex;
  margin: 0;
  grid-area: genres;
  gap: 5px;
  white-space: nowrap;
  overflow-x: scroll;
}

.genres::-webkit-scrollbar {
  display: none;
}

.overview {
  grid-area: overview;
  margin: 0;
  padding-right: 20px;
  line-height: 22px;
}

.rating {
  grid-area: rating;
  margin: 0 auto;
  align-self: end;
}

.link {
  color: black !important;
  font-size: 13px;
}

.popularity.lessThree {
  border-color: #E90000;
}

.popularity.lessFive {
  border-color: #E97E00;
}

.popularity.lessSeven {
  border-color: #E9D100;
}

.popularity.moreSeven {
  border-color: #66E900;
}


@media (min-width: 1010px) {
  .ant-card {
    width: 470px;
    height: 260px;
  }
  .ant-card-body {
    gap: 8px 15px;
    font-size: 14px;
    padding: 0 !important;
    grid-template-columns: 183px 1fr 40px;
    grid-template-rows: auto 20px 25px auto auto;
    grid-template-areas:
      'img title popularity'
      'img date popularity'
      'img genres genres'
      'img overview overview'
      'img rating rating'
  }
  .img {
    padding-top: 0;
    grid-area: img;
    width: 183px;
    height: 260px;
  }
  .rating {
    grid-area: rating;
    margin: 0 auto;
    padding-bottom: 5px;
    align-self: end;
  }
  .title {
    font-size: 20px;
  }

}